body{
    font-family: Georgia, serif;
    justify-content: center;
    background: #353652;
}

.en-tete{
    background: #5c376e;
    background: linear-gradient(90deg, rgba(92, 55, 110, 1) 0%, rgba(87, 126, 199, 1) 50%, rgba(187, 138, 235, 1) 100%);
    background-size: fill;
    text-align: center;
    text-size-adjust: 150%;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #5c376e;
    background: linear-gradient(90deg, rgba(92, 55, 110, 1) 0%, rgba(87, 126, 199, 1) 50%, rgba(187, 138, 235, 1) 100%);
    padding: 0.5em 1em;
    color: white;
}

.navlink{
    list-style: none;
    display: flex;
    gap: 1em;
    margin: 0;
}

.navlink a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

button{
    background-color: rgb(72, 56, 97);
}

button:hover{
    background-color: blueviolet;
}

.card-img-top{
    float: left;
}

.card-body{
    float: right;
}

.formulaire{
    background: white;
    margin-right: 75%;
}